<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>all numbers</h1>
   <ul>
    <% for(let number of numbers) { %>
      <li><%=number%></li>
    <% } %>
   </ul>
</body>
</html>