<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1>Welcome to my page!</h1>
    <h2>List of pages below!</h2>
    <ul>
        <li>First of all show the home page</li>
        <li>And then next we go to seen the list of five numbers!</li>
        <li>next  see the given number is odd or even! </li>
        <li>And then last the inappropriate page!- this page is displayed only in this format(localhost:300/asd (or) any ) </li>
    </ul>  
    
</body>
</html>